body {
  margin: 0;
  color: white;
}

.App {
  background-color: #2f5f35;
  min-height: 100vh; /*hauteur au mini 100% de la hauteur du viewport*/
  display: flex;
  flex-direction: column; /*axe principale (verticale)*/
  align-items: center; /*centrage par rapport à l'axe secondaire (horizontal)*/
  justify-content: center; /*centrage par rapport a l'axe principal (vertical)*/
}
